nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 100%;
    }
}

.form{
    margin-top: 30px;
    text-align: center;
}

.textLeft{
    margin-top: 20px;
    margin-right: auto;
    display: block;
}

.input-text{
    width: 40%;
}