nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
} 
#main {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    padding: 20px 30px;
}
#aside {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 20px 30px;
}

main {
    background-color: #f0f0f0;
}
aside {
    background-color: #e0e0e0;
}
@media only screen and (max-width: 600px) {
    main, aside {
        display: block;
        width: 100%;
    }
}

.section{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.item-list{
    margin: 20px;
}

#color-blue{
    background-color: blue;
}

/*https://www.youtube.com/watch?v=i1HlXOK-_0Y*/